5.1 Print

In [ ]:
murid = 32
uang_di_tas = 50000
print(murid)
print(uang_di_tas)
print(murid*uang_di_tas)

In [ ]:
nama_depan = 'Marcellina'
nama_belakang = ' Layata'
print (nama_depan + nama_belakang)

In [ ]:
print('Ini Kelas Algoritma!')

In [ ]:
print('She is such a "GENIUS"')

5.2 Input

In [ ]:
nama = input(" Siapakah nama anda? ")
kegiatan = input( "Apakah kegiatan anda sekarang, " + nama + '? ')
print("Semangat "+ kegiatan +"nya ya, " + nama + "!")

5.3 Tipe Data pada Python

In [ ]:
uang_di_saku = input("Berapakah jumlah uang di saku anda? ")
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
print("Total uang anda adalah Rp " + uang_di_saku + uang_di_dompet)

In [ ]:
uang_di_saku = input("Berapakah jumlah uang di saku anda? ")
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
total_uang = int(uang_di_saku) + int(uang_di_dompet)
print("Total uang anda adalah Rp " + str(total_uang))

In [ ]:
type(uang_di_saku)

In [ ]:
type(uang_di_dompet)

In [ ]:
type(total_uang)

Buat program penjumlahan dua bilangan dengan menggunakan perintah input dan print

In [ ]:
bilangan_satu = input("Masukan bilangan pertama: ")
bilangan_dua = input("Masukan bilangan kedua: ")
jumlah = float(bilangan_satu) + float(bilangan_dua)
print("Jumlah kedua bilangan adalah "+ str(jumlah))

5.4 Formatted String

In [ ]:
nama = "Dina"
pekerjaan = "accounting"
instansi = "PT. Jaya Abadi"
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + instansi +'.')

In [ ]:
print(f'{nama} adalah seorang {pekerjaan} di {instansi}.')

In [ ]:
print(f"{nama} adalah seorang {pekerjaan} di {instansi}.")

5.5 Strings Index

In [ ]:
kelas = 'ini kelas kalkulus'

In [ ]:
print(kelas[0:3])

In [ ]:
print(kelas[0:-1])

In [ ]:
print(kelas[5:-1])

In [ ]:
print(kelas[2:-1:3])

In [ ]:
print(kelas[:-3])

In [ ]:
print(kelas[1:])

In [ ]:
print(kelas[:])

5.6 Strings Methods

In [ ]:
judul = 'Surabaya Kota Pahlawan'

In [ ]:
print(len(judul))

In [ ]:
judul.upper()

In [ ]:
judul.lower()

In [ ]:
judul.find('Kota')

In [ ]:
judul.find('Surabaya')

In [ ]:
judul.replace('Surabaya', 'Bandung')

In [ ]:
judul.replace('Pahlawan', 'Terpanas')

In [ ]:
print('Surabaya' in judul)

In [ ]:
print('kota' in judul)

5.7 Operasi Matematika di Python

In [ ]:
print(5+4)
print(5-2)
print(6*8)
print(21/3)
print(13/2)
print(10/3)
print(25//4)
print(8%3)
print(8**3)

In [ ]:
x =3
x+=1
print(x)
x-=2
print(x)
x*=5
print(x)

5.8 Operator Perbandingan di Python

In [ ]:
x = 5>3
print(x)
x = 3<5
print(x)
x = 5 >= 3
print(x)
x = 3 <= 5
print(x)
x = 5 == 5
print(x)
x = 5 !=6
print(x)

In [ ]:
x = 3>5
print(x)
x = 5<3
print(x)
x = 3 >= 5
print(x)
x = 5 <= 3
print(x)
x = 5 == 6
print(x)
x = 5 !=5
print(x)

5.9 Operator Logika di Python

In [ ]:
buah_apel = 15
buah_pisang = 20
print(buah_apel > 10 and buah_pisang < 25)

In [ ]:
print(buah_apel < 10 and buah_pisang < 25)

In [ ]:
print(buah_apel < 10 or buah_pisang < 25)

In [ ]:
print(not buah_apel > 10 or buah_pisang > 25)

In [ ]:
print(buah_apel < 10 or buah_pisang > 25)

5.10 Operator if di Python

In [ ]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 85 :
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
if nilai < 85 and nilai>= 75:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai <= 75 and nilai >=65:
    print("Anda mendapatkan nilai C")
    print("Lain kali harus lebih baik")
if nilai <=65 and nilai >=55:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai <55:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

In [ ]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 85 :
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
elif nilai < 85 and nilai>= 75:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
elif nilai <= 75 and nilai >=65:
    print("Anda mendapatkan nilai C")
    print("Lain kali harus lebih baik")
elif nilai <=65 and nilai >=55:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
else:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Buatlah program yang merubah tinggi badan seseorang dari cm ke inci atau sebaliknya dari inci ke cm.

In [ ]:
tinggi = float(input("Berapakah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + "inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

5.11 While loop

In [ ]:
a = 0
while a < 8:
    print("Angka " + str(a)+" masih dibawah 8")
    a+= 1

In [ ]:
a = 0
while a < 7:
    print(a * '*')
    a += 1